body {
 text-align: center;
 margin: 0;
}

#main {
  width: 626px;
  margin: 64px auto;
}

img {
  
}

h1 {
  font-family: 'Dosis', sans-serif;
  color: #3F3D56;
  font-size: 32px;
  line-height: 48px;
  font-weight: normal;
  
  margin: 0 auto 16px;
}

h1 span {
  font-weight: bold;
  color: #EE24FF;
}

p {
  font-size: 15px;
  line-height: 22px;
  color: #828282;
  width: 540px;
}

p strong {
  font-weight: bold;
  color: #3F3D56;
}

p span {
  font-weight: bold;
  color: #828282
}

#main p + p {
  font-size: 15px;
  line-height: 21px;
}

#footer #line {
  width:391px;
  height: 0px;
 
  margin: 0 auto 16px;
  border: 1px solid #ECEFF2;
 }

#footer a {
  color: #3F3D56;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
}

#footer #links {
  margin-bottom: 40px;
}

#footer a + a {
 margin-left: 42px;
}

#footer img {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
